@import './normalize.scss';
@import './variables.scss';
@import './swiper.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    background: $primary;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}